.cart-wrap a {
	color: #93a1a1;
}

.cart-wrap a:hover,
.cart-wrap a:focus {
	color: #b58900;
	text-decoration: none;
}

html,
body,
.content-wrap {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

body {
	overflow-y: hidden;
}

.content-wrap:before {
	position: fixed;
	top: 0;
	left: 0;
    bottom: 0;
    right: 0;
	z-index: 20;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transform: translateX(100%) translateZ(0);
	transform: translateX(100%) translateZ(0);
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Close Button */
.close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
}

button.close-button:hover,
button.close-button:focus {
    outline: 0;
}

#close-cart {
	left: 1em;
}

.close-button:before,
.close-button:after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #93a1a1;
}

.close-button:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.close-button:hover:before,
.close-button:focus:before,
.close-button:hover:after,
.close-button:focus:after {
    background: #fdf6e3;
}

/* Cart */
.cart-wrap {
	position: fixed;
	top: 0;
	z-index: 1001;
	overflow-y: auto;
	width: 300px;
	height: 100%;
	background: #002b36;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	-webkit-transform: translateX(-320px);
	-ms-transform: translateX(-320px);
	transform: translateX(-320px);
	-webkit-transform: translateX(-320px) translateZ(0);
	transform: translateX(-320px) translateZ(0);
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.cart-wrap {
	right: 0;
	-webkit-transform: translateX(320px);
	-ms-transform: translateX(320px);
	transform: translateX(320px);
	-webkit-transform: translateX(320px) translateZ(0);
	transform: translateX(320px) translateZ(0);
	-webkit-transform: translate3d(320px,0,0);
	transform: translate3d(320px,0,0);
}

.sidemenu {
	height: 100%;
	-webkit-transform: rotateY(90deg) translateX(100%) rotateY(-90deg);
	transform: rotateY(90deg) translateX(100%) rotateY(-90deg);
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.sidemenu a {
	display: block;
	padding: 0.8em;
	-webkit-transform: rotateY(90deg) translateX(500px) rotateY(-90deg);
	transform: rotateY(90deg) translateX(500px) rotateY(-90deg);
	-webkit-transform: translateX(0) translateZ(500px);
	transform: translateX(0) translateZ(500px);
	-webkit-transform: translate3d(0,500px,0);
	transform: translate3d(0,500px,0);
}

.sidemenu,
.sidemenu a {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.sidemenu a:nth-child(2) {
	-webkit-transform: rotateY(90deg) translateX(1000px) rotateY(-90deg);
	transform: rotateY(90deg) translateX(1000px) rotateY(-90deg);
	-webkit-transform: translateX(0) translateZ(1000px);
	transform: translateX(0) translateZ(1000px);
	-webkit-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}

.sidemenu a:nth-child(3) {
	-webkit-transform: rotateY(90deg) translateX(1500px) rotateY(-90deg);
	transform: rotateY(90deg) translateX(1500px) rotateY(-90deg);
	-webkit-transform: translateX(0) translateZ(1500px);
	transform: translateX(0) translateZ(1500px);
	-webkit-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}

.sidemenu a:nth-child(4) {
	-webkit-transform: rotateY(90deg) translateX(2000px) rotateY(-90deg);
	transform: rotateY(90deg) translateX(2000px) rotateY(-90deg);
	-webkit-transform: translateX(0) translateZ(2000px);
	transform: translateX(0) translateZ(2000px);
	-webkit-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}

.sidemenu a:nth-child(5) {
	-webkit-transform: rotateY(90deg) translateX(2500px) rotateY(-90deg);
	transform: rotateY(90deg) translateX(2500px) rotateY(-90deg);
	-webkit-transform: translateX(0) translateZ(2500px);
	transform: translateX(0) translateZ(2500px);
	-webkit-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}

.sidemenu a:nth-child(6) {
	-webkit-transform: rotateY(90deg) translateX(3000px) rotateY(-90deg);
	transform: rotateY(90deg) translateX(3000px) rotateY(-90deg);
	-webkit-transform: translateX(0) translateZ(3000px);
	transform: translateX(0) translateZ(3000px);
	-webkit-transform: translate3d(0,3000px,0);
	transform: translate3d(0,3000px,0);
}

/* Show cart */
.show-cart .cart-wrap {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-cart .sidemenu,
.show-cart .sidemenu a {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-cart .sidemenu a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}

.show-cart .content-wrap:before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
